@page "/studentsapplies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject TucStudent.Data.TucStudentContext DB
@using TucStudent

<PageTitle>Admin</PageTitle>

<p>
    <a href="studentsapplies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredStudents">
    <PropertyColumn Property="student => student.firstName" Title="First Name" Sortable="true" />
    <PropertyColumn Property="student => student.lastName" Title="Last Name" Sortable="true"/>
    <PropertyColumn Property="student => student.email" Title="Email" Sortable="true" />
    <PropertyColumn Property="student => student.birthDate" Title="Birthdate" Sortable="true" >
        <ColumnOptions>
            <div>
                <label>Search age</label>
                <input type="number" @bind="yearFilter" @bind:event="oninput" />
            </div>
        </ColumnOptions>
    </PropertyColumn>

    <TemplateColumn Context="studentsapply">
        <a href="@($"studentsapplies/edit?id={studentsapply.id}")">Edit</a> |
        <a href="@($"studentsapplies/details?id={studentsapply.id}")">Details</a> |
        <a href="@($"studentsapplies/delete?id={studentsapply.id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    int yearFilter = 0;
    DateTime today = DateTime.Now;


    public IQueryable<StudentsApply> ShowStudentsApply()
    {
        if (yearFilter != 0)
        {
            var studentsApply = DB.StudentsApply
            .Where(s => today.Year - s.birthDate.Year == yearFilter);
            return studentsApply;
        }
        else
        {
            var studentsApply = DB.StudentsApply;

            return studentsApply;
        }
    }
    IQueryable<StudentsApply> FilteredStudents => ShowStudentsApply();

}
